/* ------------------ General CSS ------------------ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    outline: none;
    text-decoration: none;
    transition: 0.3s;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    margin-top: 3.3rem;
    padding: 0;
    background-color: rgb(241, 241, 241);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
}

/* ------------------ Navbar ------------------ */
.navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    margin-bottom: 5rem;
    background-color: #0094c6;
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* Using CSS Grid for the navbar */
    justify-items: start;
    /* Align the logo and menu to the start */
    align-items: center;
}

.navbar-logo {
    margin-left: 1rem;
    margin-top: 0.3rem;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin-left: 1.5rem;
}

li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    transition: all 0.5s ease;
}

/* dark-class is from script.js */
.dark-class {
    color: white;
    background-color: #202020;
}

.toggleButton {
    width: 3rem;
    height: 1.5rem;
    position: absolute;
    top: 0rem;
    right: 1rem;
    z-index: 10;
}

.toggleButton input {
    opacity: 0;
    z-index: -1;
}

.roundButton {
    background-color: black;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.roundButton:before {
    left: 0;
    bottom: 0;
    position: absolute;
    content: "";
    background-color: grey;
    transition: 0.3s;
    height: 1.5rem;
    width: 1.5rem;
}

input:checked+.roundButton {
    background-color: white;
}

input:checked+.roundButton:before {
    transform: translateX(1.5rem);
}

.roundButton.circle {
    border-radius: 2rem;
}

.roundButton.circle:before {
    border-radius: 50%;
}

/* ------------------ End of navbar ------------------ */

#page-container {
    position: relative;
    min-height: 100vh;
}

.product-grid {
    display: flex;
    flex-flow: row wrap;
}

.product-grid .product-item {
    width: 25%;
    padding: 15px;
}

@media (max-width: 992px) {
    .product-grid .product-item {
        width: 33.33%;
    }
}

@media (max-width: 768px) {
    .product-grid .product-item {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .product-grid .product-item {
        width: 100%;
    }
}

.product-grid .product-single {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-grid .product-img,
.product-grid .product-content {
    position: relative;
    width: 100%;
    background: #f1f1f1;
    overflow: hidden;
}

.product-grid .product-img img {
    display: block;
    width: 100%;
    transition: .3s;
}

/* ------------------ product grid 1 start ------------------ */
.product-grid.grid-1 .product-single:hover {
    box-shadow: 0 0 6px #999999;
}

.product-grid.grid-1 .product-single:hover img {
    transform: scale(1.1);
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.product-grid.grid-1 .product-price {
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    padding: 30px 0;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    background: #935529;
    border-radius: 100px;
    transition: .5s;
    opacity: 0;
}

.product-grid.grid-1 .product-single:hover .product-price {
    opacity: 1;
}

.product-grid.grid-1 .product-action {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0;
}

.product-grid.grid-1 .product-action a {
    display: inline-block;
    width: 50%;
    height: 40px;
    padding: 12px 0;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: #ffffff;
    background: #935529;
    transition: .2s;
}

.product-grid.grid-1 .product-action a i {
    margin-right: 3px;
}

.product-grid.grid-1 .product-action a:hover {
    background: #252525;
}

.product-grid.grid-1 .product-action a:first-child {
    float: left;
    margin-left: -100%;
}

.product-grid.grid-1 .product-action a:last-child {
    float: right;
    margin-right: -100%;
}

.product-grid.grid-1 .product-single:hover .product-action a:first-child {
    margin-left: 0;
}

.product-grid.grid-1 .product-single:hover .product-action a:last-child {
    margin-right: 0;
}

.product-grid.grid-1 .product-content {
    padding: 15px;
    text-align: center;
    background: #f7f7f7;
    ;
}

.product-grid.grid-1 .product-title {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.product-grid.grid-1 .product-title h2 {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}

.product-grid.grid-1 .product-title h2 a {
    color: #252525;
}

.product-grid.grid-1 .product-title h2 a:hover {
    color: #935529;
}
/* ------------------ End of product grid 1 ------------------ */

.lorem {
    padding: 1.5em;
    text-align: justify;
    font-weight: 300;
    line-height: 23px;
}

#footer {
    background-color: #000000;
    color: #fff;
    padding-top: 1rem;
    text-align: center;
    position: static;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    font-size: 20px;
}